#menu img{

   width: 56px;
   height: 56px;
   



}

#menu{

 
   align-items: center;
} 


.nav-bar{
   position: sticky;
   top: 0%;
}
.logo{
   padding: 5px;
   margin-top: 10px;
   
   
   margin-left: 50px;
   font-size: 40px;
   color: cornsilk;
  
}



.navbar{
  
   display: flex;

   justify-content: space-between;
   position: sticky;
   background-color:#562EFF;
   padding: 5px;
   
   
 
  
}

#menu{

   display: flex;



}
ul{

   
   display: flex;
   margin-right: 50px;
   
   

}
li a{
   
   text-decoration: none;
   color: white;

}
li{
   list-style: none;
   margin-right: 30px;
   margin-top: 10px;
  

}

