.logo img{

   width: 60%;
   height: 60%;
}

.nav-bar{
   position: sticky;
   top: 0%;
}
.logo{
   padding: 5px;
   margin-top: 10px;
   width: 100px;
   display: flex;
   justify-content: space-between;
   margin-left: 50px;
  
}



.navbar{
  
   display: flex;
   justify-content: space-between;
   position: sticky;
   background-color:#562EFF;
   padding: 5px;
   
   
 
  
}
ul{

   
   display: flex;
   margin-right: 50px;
   
   

}
li a{
   
   text-decoration: none;

}
li{
   list-style: none;
   margin-right: 30px;
   margin-top: 10px;
  

}

